{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'header.html' %}

    <div class="checkpassword_container">
        <h4>CHECK PASSWORD</h4>
        <form class="checkpassword_form">{% csrf_token %}
            <label class='password_required'>Password required</label>
            <input class='password_check' type="password" placeholder="Password ..." />
            <button>CHECK PASSWORD</button>
        </form>
    </div>

<script src="{% static 'js/checkpassword.js' %}"></script>
{% endblock %}
