* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login_container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
}

.login_container .login_form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login_container .login_form .bnt_register {
    margin-top: 20px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}



.login_container .login_form p {
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


.login_container .login_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container .login_form form input {
    margin: 10px;
    width: 300px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: inherit;
    outline: none;
    color: white;
    font-weight: bold;
}

.login_container .login_form form input::placeholder {
    color: white;
}

.login_container .login_form form button {
    background-color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: #be6fd6;
}

.login_container .login_form .login_checked {
    text-align: center;
    display: none;
}

.login_container .login_form .login_error {
    display: none;
}


.register_container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
}

.register_container .register_form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.register_container .register_form p {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}


.register_container .register_form form .login_error {
    background-color: white;
    border-radius: 2px;
    display: none;
}

.register_container .register_form form .login_error p {
    color: red;
    padding: 5px 20px;
    font-size: 10px;
    font-weight: normal;
}


.register_container .register_form form .login_error_confirm  {
    background-color: white;
    border-radius: 2px;
    display: none;
}

.register_container .register_form form .login_error_length {
    background-color: white;
    border-radius: 2px;
    display: none;
}

.register_container .register_form form .login_error_length p {
    color: red;
    padding: 5px 20px;
    font-size: 10px;
    font-weight: normal;
}

.register_container .register_form form .login_error_confirm p {
    color: red;
    padding: 5px 20px;
    font-size: 10px;
    font-weight: normal;
}

.register_container .register_form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register_container .register_form form input[type='text'], input[type='password'] {
    margin: 10px;
    width: 300px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: inherit;
    outline: none;
    color: white;
    font-weight: bold;
}

.register_container .register_form form input[type='text']::placeholder, input[type='password']::placeholder {
    color: white;
}

.register_container .register_form form button{
    background-color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: #be6fd6;
}


.header_container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}


.header_container .header_menu {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
}

.header_container .header_menu .form_search {
    margin: 10px;
}

.header_container .header_menu .form_search input {
    width: 300px;
    border: 1px solid #e6e6e6;
    padding: 3px 5px;
    border-radius: 2px;
    outline: none;
    font-size: 12px;
}


.header_container .header_logo {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .header_logo a {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

.header_container .header_btn_logout {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_container .header_btn_logout .header_info_user {
    margin-right: 20px;
}

.header_container .header_btn_logout .header_info_user p {
    font-weight: bold;
    font-size: 12px;
}
.header_container .header_btn_logout .header_info_user p a {
    color: #be6fd6;
    font-size: 14px;
    text-decoration: none;
}

.header_container .header_btn_logout .btn_logout {
    margin: 10px;
    text-decoration: none;
    font-size: 10px;
    color: #989898;
    font-weight: bold;
}

.home_container {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    padding: 10px;
}

.profile_container {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}

.profile_container .profile_username {
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

.profile_container .description_profile {
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile_container .primary {
    border: 2px solid #be6fd6;
    font-size: 8px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 2px;
    color: #be6fd6;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 50px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.profile_container .primary:hover {
    background-color: #be6fd6;
    color: white;
}


.btn_contact {
    border: 2px solid #be6fd6;
    font-size: 8px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 2px;
    color: #be6fd6;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.search_container {
    width: 50%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_container a {
    text-decoration: none;
    font-size: 12px;
    color: grey;
    font-weight: bold;
}


.list_channels .item_ {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.list_channels .item_ a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.list_channels .item_ p {
    font-size: 10px;
}

.home_container .btn_new_chat {
    position: absolute;
    top: 80px;
    left: 20px;
}

.home_container .btn_new_chat a {
    border: 2px solid #be6fd6;
    background-color: #be6fd6;
    color: white;
    font-size: 10px;
    outline: none;
    padding: 3px 20px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}



.list_channels .item_ p a {
    color: #be6fd6;
}


.newchannel_container {
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.form_new_channel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_new_channel input {
    width: 300px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    margin: 10px;
    color: black;
}
.form_new_channel input::placeholder {
    color: grey
}

.form_new_channel .not_password {
    font-size: 8px;
    color: grey;
}

.form_new_channel button {
    border: 2px solid #be6fd6;
    background-color: #be6fd6;
    color: white;
    font-size: 10px;
    outline: none;
    padding: 3px 20px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.newchannel_container .form_new_channel .name_error {
    display: none;
    color: red;
    font-size: 12px;
    text-align: left;
}

.newchannel_container  .check_good {
    display: none;
}

.detail_container {
    width: 90%;
    margin: 60px auto;
}

.checkpassword_container {
    width: 90%;
    margin: 60px; auto;
    text-align: center;
    padding: 50px;
}

.checkpassword_container .checkpassword_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkpassword_container .checkpassword_form input {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 2px;
    padding: 10px;
    width: 300px;
    color: black;
}

.checkpassword_container .checkpassword_form input::placeholder {
    color: grey;

}

.checkpassword_container .checkpassword_form button {
    border: 2px solid #be6fd6;
    background-color: #be6fd6;
    color: white;
    font-size: 10px;
    outline: none;
    padding: 3px 20px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}


.checkpassword_container .checkpassword_form .password_required {
    display: none;
    color: red;
    font-size: 10px;
    text-align: left;
}

.detail_container {
    display: flex;
    align-items: center;
}


.detail_container .detail_users {
    width: 30%;
    height: 400px;
}

.detail_container .detail_users {
    text-align: center;
    padding: 10px;
    position: fixed;
    top:60px;
}

.detail_container .detail_users .detail_users_wrapper {
    padding: 10px;
    width: 100%;
    height: 300px;
    /* background-color: #fbfbfb; */
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.detail_container .detail_users .detail_users_wrapper a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.detail_container .detail_users .detail_users_wrapper::-webkit-scrollbar {
    width: 5px;
}

.detail_container .detail_users .detail_users_wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}




.detail_container .chat_container {
    width: 50%;
    height: 400px;
    text-align: center;
    position: fixed;
    top: 60px;
    right: 50px;
}

.detail_container .chat_container .chat_container_wrapper {
    padding: 10px;
    width: 100%;
    height: 300px;
    /* background-color: #fbfbfb; */
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: flex-start; */
}

.detail_container .chat_container .chat_container_wrapper::-webkit-scrollbar {
    width: 5px;
}

.detail_container .chat_container .chat_container_wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}


.detail_container .chat_container .chat_container_wrapper .chat_item {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

.detail_container .chat_container .chat_container_wrapper .chat_item a {
    text-decoration: none;
    color: #be6fd6;
    font-weight: bold;
}

.detail_container .chat_container .chat_container_wrapper .chat_item p {
    font-size: 10px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.form_addnew_message {
    margin-top: 50px;
}

.form_addnew_message form {
    display: flex;
}

.form_addnew_message form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 2px;
    margin-right: 5px;
}

.form_addnew_message form input:focus {
    border: 1px solid black;
}

.form_addnew_message form button {
    background-color: #be6fd6;
    color: white;
    border: 1px solid #be6fd6;
    border-radius: 2px;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    cursor: pointer;
}

.profile_container .list_channels_profile {
    text-decoration: none;
    color: grey;
    margin: 10px;
    font-size: 12px;
}
